<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">

    <header>
        <h1 class="display-4">
            <%= title %>
        </h1>
    </header>
    <div role="main">
        <form method="post" action="/users/edit">
            <input type="hidden" name="id" id="id" value="<%=user.id %>">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="<%=user.name %>">
            </div>
            <div class="mb-3">
                <label for="mail" class="form-label">Mail</label>
                <input type="mail" class="form-control" id="mail" name="mail" value="<%=user.mail %>">
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Password</label>
                <input type="text" class="form-control" id="pass" name="pass" value="<%=user.pass %>">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" id="age" name="age" value="<%=user.age %>">
            </div>
            <button type="submit" class="btn btn-primary">送信</button>
        </form>
    </div>
</body>

</html>